matlab/*
matlab/results/*
third_party/*

python/generate*
python/*.pyc
python/results/*
python/results*

python/mit_db/*

python/dataset/*
!python/dataset/mitdb
python/dataset/mitdb/*
!python/dataset/mitdb/csv